.advantages__list {
  .margin-padding();
}

.advantages__item {
  background-color: #f2f2f2;
}

.advantages__description {
  .margin-padding();

  color: #ffffff;
  background-color: #81b3d2;
}

.advantages__slogan {
  .some-title();
}

.advantages__title {
  .some-title();
}

.advantages__slogan-paragraph {
  .some-label();
}

.advantages__reason-number {
  .some-label();
}

.advantages__reason-description {
  .some-label();
}

.advantages {
  display: flex;
  flex-direction: column;
  .margin-padding();
}

.advantages__header {
  display: flex;
  flex-direction: column;

  min-height: 239px;
  margin: 0;
  padding: 43px, 33px, 10px, 32px;
}

.advantages__item {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 45px, 35px;
}
