.advantages__list {
  .margin-padding();
}

.advantages__description {
  .margin-padding();
  color: #ffffff;
  background-color: #81b3d2;
}

.advantages__slogan {
  .some-title();
}

.advantages__title {
  .some-title();
}

.advantages__slogan-paragraph {
  .some-label();
}

.advantages__reason-number {
  .some-label();
}

.advantages__reason-description {
  .some-label();
}

.advantages {
  display: flex;
  flex-direction: column;
  .margin-padding();
}

.advantages__container {
  .container();
}

.advantages__header {
  display: flex;
  flex-direction: column;

  min-height: 239px;
  margin: 0;
  padding: 43px, 33px, 10px, 32px;
}

.advantages__item {
  display: flex;
  flex-direction: column;
  .margin-padding();
  background-color: #f2f2f2;
}

@media (min-width: 768px) {
  .advantages__item-tablet {
    display: flex;
    .margin-padding();
  }

  .advantages__list {
    display: flex;
    flex-direction: row;
    .margin-padding();
    flex-wrap: wrap;
  }

  .advantages__description {
    width: calc(100%/3);
  }

  .advantages__item-tablet:nth-child(2) {
    flex-direction: row-reverse;
  }

  .advantages__item:nth-child(n+3) {
    width: calc(100%/3);
  }
}
