.description-list {
  .margin-padding();
}

.description-list__item {
  background-color: #ffffff;
  background-repeat: no-repeat;
  position: relative;
}

.description-list__title {
  .some-title();
}

.description-list {
  list-style: none;
  background-color: #ffffff;

  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
}

.description-list__item:nth-child(3n+1):before {/*Почему не работает?*/
  background-image: url(../img/icon-house.svg);
  background-size: 37px 36px;
}

.description-list__item:nth-child(3n+2):before {/*Почему не работает?*/
  background-image: url("../img/icon-gift.svg");
  background-size: 32px 38px;
}

.description-list__item:nth-child(3n+3):before {/*Почему не работает?*/
  background-image: url("../img/icon-burger.svg");
  background-size: 40px 35px;
}

.description-list__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.description-list__paragraph {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  margin: 0;
  padding: 0;
  margin-top: 23px;
  letter-spacing: 0.115px;
}

@media (min-width: 768px) {
  .description-list {
    list-style: none;
    background-color: #ffffff;

    flex-direction: row;
    width: 100%;
    padding: 0;
  }
}
