.posts-list {
  display: flex;
  flex-direction: column;
  .margin-padding();
}

.posts-list__photo {
  display: flex;
  flex-direction: column;
  .margin-padding();
}

.posts-list__header {
  display: flex;
  flex-direction: column;
  .margin-padding();

  min-height: 112px;
  margin: 44px 24px 33px 27px;
}

.posts-list__slogan{
  .some-title();
  .margin-padding();
  margin-bottom: 14px;
}

.posts-list__slogan-paragraph {
  .some-paragraph();
  .margin-padding();
}

.posts-list__item {
  display: flex;
  flex-direction: column;

  min-height: 414px;
  margin: 0;
  padding: 22px 20px 23px;
}

.postscript {/*Иконку лайка прописать before likes-count*/
  text-align: left;
  min-width: 112px;
  height: 37px;

  margin-top: 22px;
  margin-left: 20px;
}

.likes {
  margin-top: 10px;
  position: relative;
}

.photo-title {
  .margin-padding();
  .some-paragraph();
  font-weight: 700;
}

.photograph {
  .margin-padding();
  .some-paragraph();
  text-transform: none;
}

.likes {
  display: flex;
  flex-direction: row;
  .margin-padding();
}

.posts-list__button {
  width: 0px;
  height: 0px;

  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.posts-list__button::before {
  display: inline-block;

  width: 23px;
  height: 21px;

  background: url("../img/icon-like.svg") no-repeat;
  content: "";
  position: absolute;
  top: -1px;
}

.likes__count {
  font-size: 14px;
  margin-left: 33px;
}

@media (min-width: 768px) {
  .posts-list__gallery {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    flex-wrap: wrap;
  }

  .posts-list__item:first-child {
    width: 100%;
    height: 480px;

    border-top: none;
  }

  .posts-list__item {
    width: 50%;
    height: 347px;

    border-bottom: none;
  }

  .posts-list__item--first .gallery__link {
    min-height: 400px;
  }

  /*.posts-list__link {
    height: 267px;

    margin-top: 0;
  }*/

  .posts-list__item-footer {
    display: flex;

    width: 100%;

    min-height: 80px;
  }

  .postscript {
    margin-left: 20px;
  }

  .photo-title {
    margin-top: 15px;
  }

  .photo {
    margin-top: 0;
  }

  .likes {
    width: 83px;

    margin-left: auto;
    margin-top: 0;
  }

  .posts-list__button::before {
    left: 0;
    top: 27px;
  }

  .likes__count {
    left: 30px;
    margin: 0;
    position: absolute;
    top: 30px;
  }
}

@media (min-width: 1280px) {
  .posts-list__item:nth-child(4n+1) {
    width: 100%;
    height: 400px;
    border-top: none;
  }

  .posts-list__item {
    width: (100%/3);
    height: 267px;
    border-bottom: none;
  }

  .posts-list__item-footer {
/*задать background-color*/
    margin-top: -80px;
    color: white;
    width: 100%;
  }
}
