.posts-list {
  display: flex;
  flex-direction: column;
  .margin-padding();
  width: 280px;
  margin: 0 auto;
}

.posts-list__photo {
  display: flex;
  flex-direction: column;
  .margin-padding();
}

.posts-list__header {
  display: flex;
  flex-direction: column;
  .margin-padding();

  min-height: 112px;
  margin-top: 44px;
  margin-bottom: 24px;
}

.posts-list__slogan{
  .some-title();
  .margin-padding();
  margin-bottom: 14px;
}

.posts-list__slogan-paragraph {
  .some-paragraph();
  .margin-padding();
}

.posts-list__item {
  display: flex;
  flex-direction: column;

  .margin-padding();
}

.posts-list__item-footer {
  display: flex;
  flex-direction: column;
  .margin-padding();
}

.postscript {
  text-align: left;
  min-width: 112px;

  margin-top: 21px;
  margin-left: 21px;
}

.likes {
  position: relative;

  display: flex;
}

.photo-title {
  .margin-padding();
  .some-paragraph();
  font-weight: 700;
}

.photograph {
  .margin-padding();
  .some-paragraph();
  text-transform: none;
}

.posts-list__button {
  width: 23px;
  height: 21px;

  border: none;
  cursor: pointer;
  .margin-padding();
  background: none;
}

.posts-list__button::before {
  width: 23px;
  height: 21px;

  background: url("../img/icon-like.svg") no-repeat;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
}

.likes-count {
  font-size: 14px;
  .margin-padding();
  width: 35px;
  top: 10px;
  padding-left: 20px;
}

@media (min-width: 768px) {
  .posts-list {
    width: 648px;
  }

  .posts-list__header {
    margin: 76px auto;
    min-height: 97px;
    width: 428px;
  }

  .posts-list__slogan {
    font-size: 30px;
    margin-bottom: 23px;
  }

  .posts-list__gallery {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    flex-wrap: wrap;
  }

  .posts-list__item:first-child {
    width: 100%;
    height: 480px;

    border-top: none;
  }

  .posts-list__item {
    width: 50%;
    height: 347px;

    border-bottom: none;
  }

  .posts-list__item-footer {
    display: flex;
    .margin-padding();

    width: 100%;
    min-height: 80px;

    background-color: #eaeaea;
  }

  .postscript {
    margin-bottom: 21px;
  }

  .photo {
    margin-top: 0;
    width: 100%;
    height: 100%;
  }

  .likes {
    width: 83px;

    margin-left: auto;
    margin-right: 20px;
    margin-top: -80px;
    /*right: 40px;
    position: relative;*/
  }

  .posts-list__button::before {
    left: 0;
    top: 27px;
  }

  .likes-count {
    left: 30px;
    margin: 0;
    position: absolute;
    top: 30px;
  }
}

@media (min-width: 1280px) {
  .posts-list {
    width: 1200px;
  }

  .posts-list__item:nth-child(4n+1) {
    width: 100%;
    border-top: none;
  }

  .posts-list__item {
    width: (100%/3);
    height: 267px;
    border-bottom: none;
  }

  .posts-list__item:first-child {
    max-height: 407px;
  }

  .posts-list__item-footer {
    margin-top: -80px;
    color: white;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    max-height: 80px;

    .likes {
      margin-top: -82px;
    }

    .postscript {
      margin-bottom: 0;
    }
  }
}
