.searching__teg {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.searching__paragraph {
  .some-label();
}

.searching {
  display: flex;
  flex-direction: column;
  .margin-padding();
  justify-content: space-between;
  margin-top: 33px;
  align-items: center;
}

.searching__button {
  color: #ffffff;
  background-color: #81b3d2;
  padding: 17px 47px 19px;
  margin-bottom: 49px;
  width: 186px;

  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}
