.searching {
  display: flex;
  flex-direction: column;
  .margin-padding();
  justify-content: space-between;
  margin-top: 33px;
  align-items: center;
  width: 260px;
  margin: 0 auto;
}

.searching__teg {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  padding-top: 33px;
}

.searching__paragraph {
  .some-label();
  line-height: 24px;
}

.searching__button {
  color: #ffffff;
  background-color: #81b3d2;
  padding: 17px 47px 19px;
  margin-bottom: 49px;
  width: 280px;

  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.searching__map {
  width: 320px;
  height: 350px;
}

@media (min-width: 768px) {
  .searching {
    width: 460px;
  }

  .searching__teg {
    margin-top: 57px;
    font-size: 30px;
  }

  .searching__button {
    margin-bottom: 58px;
    width: 458px;
  }

  .searching__map {
    width: 768px;
  }
}
