.site-list {
  .margin-padding();
}

.site-list__item a {
  display: block;

  color: #ffffff;
  background-color: #81b3d2;
  box-shadow: 0 1px 0 0 rgba(1, 1, 1, 0.2);

  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 2.26;
  padding: 8px;
  text-decoration: none;
}

.site-list__item:not(:first-child) a {
  box-shadow: 0 1px 0 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 0 rgba(1, 1, 1, 0.2);
}

.site-list__item:not(.site-list__item--current) a {
  .site-list__item--current a:hover {
    background-color: #669ec0;
  }

  .site-list__item--current a:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
  }
}

/*@media (max-width: 767px) {
  .site-list__item {
    display: none;
  }
}*/

@media (min-width: 768px) {
  .site-list {
    display: flex;
    flex-wrap: wrap;
    min-width: 768px;
    min-height: 56px;
    padding: 0;
    margin: 0;
  }

  .site-list__item a {
    .margin-padding();
    color: #766357;
    background-color: #ffffff;
    height: auto;
    box-shadow: none;
  }

  .site-list__item a[href] {
    color: #000000;
    background-color: #ffffff;
    box-shadow: none;
  }

  .site-list__item a[href]:focus,
  .site-list__item a[href]:hover {
    color: #81b3d2;
    background-color: #ffffff;
  }

  .site-list__item a[href]:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
  }

  .site-list__item:nth-child(4n+1) {
    padding-left: 49px;/*Возможно лучше сделать через margin*/
  }

  .site-list__item:nth-child(4n+2) {
    padding-left: 77px;/*Возможно лучше сделать через margin*/
  }

  .site-list__item:nth-child(4n+3) {
    padding-left: 209px;
  }

  .site-list__item:nth-child(4n+4) {
    padding-left: 49px;
  }

  .site-list__item {
    padding-top: 19px;/*Возможно лучше сделать через margin*/
    background-color: #ffffff;
    border: none;
  }

  .site-list__item a {
    position: relative;
    bottom: 5px;
  }
}

@media (min-width: 1280px) {
  .site-list {
    min-width: 1200px;
  }
}
