.site-list {
  .margin-padding();
}

.site-list__item a {
  color: #ffffff;
  background-color: #81b3d2;
}

.site-list__item:focus a[href],
.site-list__item:hover a[href] {
  color: #ffffff;
  background-color: #669ec0;
}

.site-list__item:active a[href] {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.site-list__item {
  margin: 0;
  padding: auto;

  border-top: 1px solid;
}

@media (min-width: 768px) {
  .site-list {
    display: flex;
    flex-wrap: wrap;
    min-width: 768px;
    min-height: 56px;
    padding: 0;
    margin: 0;
  }

  .site-list a {
    color: #766357;
    background-color: #ffffff;
  }

  .site-list a[href] {
    color: #000000;
    background-color: #ffffff;
  }

  .site-list a[href]:focus,
  .site-list a[href]:hover {
    color: #81b3d2;
    background-color: #ffffff;
  }

  .site-list a[href]:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
  }

  .site-list__item:nth-child(4n+1) {
    padding-left: 49px;
  }

  .site-list__item:nth-child(4n+2) {
    padding-left: 12px;
  }

  .site-list__item:nth-child(4n+3) {
    text-align: right;
    letter-spacing: 0.45px;
  }

  .site-list__item:nth-child(4n+4) {
    text-align: right;
  }

  .site-list__item {
    width: 25%;
    padding-top: 19px;
    padding-bottom: 22px;
    background-color: #ffffff;
    border: none;
  }

  .site-list__item a {
    position: relative;
    bottom: 5px;
  }
}

@media (min-width: 1280px) {
  .site-list {
    min-width: 1200px;
  }
}
