.site-list {
  .margin-padding();
}

.site-list__item a {
  color: #ffffff;
  background-color: #81b3d2;
}

.site-list__item:focus a,
.site-list__item:hover a {
  color: #ffffff;
  background-color: #669ec0;
}

.site-list__item:active a {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}
