.video-item__title {
  .some-title();
}

.video-item__argument {
  .some-paragraph();
}

.video-item {
  display: flex;
  flex-direction: column;

  min-height: 508px;
  .margin-padding();
  align-items: center;
}

.video-item__player {
  width: 280px;
  margin: 0 auto;
  margin-top: -50px;
}

.video-item__video-player {
  width: 280px;
  height: 201px;

  margin: 0 auto;

  background: sandybrown url("../img/video-mobile@1x.jpg") no-repeat;
}

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .video-item__video-player {
    background-image: url("../img/video-mobile@2x.jpg");
    background-size: 320px auto;
  }
}

.video-item__bar {
  width: 280px;
  height: 45px;

  background-color: #000000;
  opacity: 0.6;
  position: relative;

  margin: 0 auto;
}

.video-item__bar::before {
  width: 235px;
  height: 3px;

  background-color: #ffffff;
  content: "";
  left: 22px;
  opacity: 0.2;
  position: absolute;
  top: 22px;
}

.video-item__bar::after {
  width: 10px;
  height: 10px;

  background-color: #ffffff;
  border-radius: 50%;
  content: "";
  left: 57px;
  position: absolute;
  top: 19px;
}

.video-item__control-buttons {
  width: 280px;
  height: 66px;

  position: relative;
  margin: 0 auto;
  background-color: #f2f2f2;
  text-align: left;
}

.video-item__button {
  cursor: pointer;
  padding: 0;
  position: relative;
  top: 22px;
  background-color: transparent;
}

.video-item__button svg {
  fill: #5c6870;
}

.video-item__button:hover svg {
  fill: #333333;
}

.video-item__button:active svg {
  fill: rgba(#333333, 0.3);
}

.video-item__button--repeat {
  width: 25px;
  height: 25px;

  border: none;
  left: 21px;
}

.video-item__button--subtitle {
  width: 33px;
  height: 25px;

  border: none;
  left: 145px;
}

.video-item__button--full-screen {
  width: 20px;
  height: 20px;

  border: none;
  left: 170px;
}

@media (min-width: 768px) {
  .video-item {
    margin: 0 auto;
    width: 648px;
  }

  .video-item__description {
    width: 415px;
    margin: 68px auto;
  }

  .video-item__title {
    font-size: 30px;
    font-weight: 700;
    line-height: 0.87;
    margin-top: 67px;
  }

  .video-item__argument {
    margin-top: 30px;
  }

  .video {
    .margin-padding();
    height: 500px;
    width: 100%;
    min-height: 499px;
  }

  .video-item__player {
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
  }

  .video-item__video-player {
    height: 500px;
    width: 648px;

    background: url("../../img/video-tablet@1x.jpg") no-repeat;
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .video-item__video-player {
      background-image: url("../../img/video-tablet@2x.jpg");
      background-size: 648px auto;
    }
  }

  .video-item__controls {
    width: 100%;
    height: 93px;

    background-color: #000000;
    margin-top: -93px;
    opacity: 0.6;
  }

  .video-item__bar {
    width: 100%;
    height: auto;
  }

  .video-item__control-buttons {
    width: 100%;
    height: 0;
  }

  .video-item__button svg {
    fill: white;
  }

  .video-item__button:hover svg {
    fill: rgba(255, 255, 255, 0.6);
  }

  .video-item__button:active svg {
    fill: rgba(255, 255, 255, 0.3);
  }

  .video-item__button--repeat {
    top: 35px;
    left: 32px;
  }

  .video-item__button--subtitle {
    top: 36px;
    left: 495px;
  }

  .video-item__button--full-screen {
    top: 36px;
    left: 520px;
  }

  .video-item__bar::before {
    width: 389px;
    height: 3px;
    top: 45px;
    left: 93px;
  }

  .video-item__bar::after {
    top: 41px;
    left: 205px;
  }
}

@media (min-width: 1280px) {
  .video-item {
    width: 1200px;
    margin-bottom: 85px;
  }

  .video-item__header {
    width: 800px;
  }

  .video-item__title {
    margin-top: 72px;
  }

  .video-item__player {
    width: 800px;
    margin-bottom: 0;
  }

  .video-item__video-player {
    width: 800px;
    height: 500px;

    background: url("../../img/video-desktop@1x.jpg") no-repeat;
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .video-item__video-player {
      background-image: url("../../img/video-mobile@2x.jpg");
      background-size: 800px auto;
    }
  }

  .video-item__controls {
    height: 93px;
    margin-bottom: 0;
    margin-top: -93px;
  }

  .video-item__button--repeat {
    top: 35px;
    left: 30px;
  }

  .video-item__button--subtitle {
    top: 35px;
    left: 645px;
  }

  .video-item__button--full-screen {
    top: 35px;
    left: 670px;
  }

  .video-item__bar::before {
    width: 540px;
    height: 3px;
    top: 45px;
    left: 93px;
  }

  .video-item__bar::after {
    top: 41px;
    left: 205px;
  }
}
