.margin-padding() {
  margin: 0;
  padding: 0;
  list-style: none;
}

.some-title() {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.some-paragraph() {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.some-label() {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
}
